body {
    background: #cfe9ff;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
}

.search-container input {
    padding: 10px;
    width: 220px;
    border-radius: 5px;
    border: 1px solid gray;
}

.search-container button {
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    background: #0275d8;
    color: white;
    border-radius: 5px;
}

.weather-card {
    margin: 20px auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 260px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
.forecast {
    margin-top: 20px;
}

.forecast-grid {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.forecast-item {
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 110px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.description {
    font-style: italic;
    text-transform: capitalize;
}

.details p {
    margin: 5px 0;
}

.error {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}
